<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'reservations')}">

<body>

<h2>Reservation</h2>
<form th:object="${reservation}" id="add-reservation-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('Check In', 'checkIn', 'date')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Check Out', 'checkOut', 'date')}" />
        <select th:replace="~{fragments/selectField :: select ('Room Type', 'roomType', ${roomTypes})}"></select>
        <div id="replace_div"></div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary"
                    type="submit">Submit</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {

        //call function when page is loaded
        getContent();

        //set on change listener
        $('#roomType').change(getContent);

        function getContent() {

            //create url to request fragment
            let url = '/reservations/roomfilter/' + $('#roomType').val();

            //load fragment and replace content
            $('#replace_div').load(url);
        }
    })
</script>
</body>
</html>