<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'reservations')}">

<body>

<h2>Reservation</h2>
<form th:object="${reservation}" id="add-reservation-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('Check In', 'checkIn', 'date')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Check Out', 'checkOut', 'date')}" />
        <select th:replace="~{fragments/selectField :: select ('Room Type', 'roomType', ${roomTypes})}"></select>
<!--        <input-->
<!--                th:replace="~{fragments/inputField :: input ('Address 2', 'address2', 'text')}" />-->
<!--        <input-->
<!--                th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />-->
<!--        <input-->
<!--                th:replace="~{fragments/inputField :: input ('State', 'state', 'text')}" />-->
<!--        <input-->
<!--                th:replace="~{fragments/inputField :: input ('Postal Code', 'postalCode', 'text')}" />-->
<!--        <input-->
<!--                th:replace="~{fragments/inputField :: input ('Country', 'country', 'text')}" />-->
<!--        <input-->
<!--                th:replace="~{fragments/inputField :: input ('Phone Number', 'phone', 'text')}" />-->
<!--        <input-->
<!--                th:replace="~{fragments/inputField :: input ('Email', 'email', 'text')}" />-->
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary"
                    type="submit">Submit</button>
        </div>
    </div>
</form>
</body>
</html>